@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    background-color: aqua;
}

@layer base {
    @font-face {
        font-family: "Neue-regular";
        font-weight: 200;
        src: url(/Font/NeueMachina-Regular.otf) format("otf");
    }
    @font-face {
        font-family: "Neue-bold";
        font-weight: 300;
        src: url(/Font/NeueMachina-Ultrabold.otf) format("otf");
    }
    @font-face{
        font-family: "Neue-light";
        font-weight: 100;
        src: url(/Font/NeueMachina-Light.otf);
    }
}

@font-face {
    font-family: 'neue-regular';
    font-style: normal;
    font-weight: 200;
    src: local(NeueMachina-Regular),
    url(/Font/NeueMachina-Regular.otf) format("otf");
}
@font-face {
    font-family: 'neue-bold';
    font-style: bold;
    font-weight: 300;
    src: local(NeueMachina-Ultrabold),
    url(/Font/NeueMachina-Ultrabold.otf) format("otf");
}
@font-face{
    font-family: "Neue-light";
    font-weight: 100;
    src: url(/Font/NeueMachina-Light.otf);
}
